  ul, form {
    margin: 5;
    padding: 5;
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}


h1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}


ul {
    list-style-type: none;
    padding: 10px;
}

li {
    background-color: #fff;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
}
div { display: flex;
   align-items: center;
        }

 h1 {
  flex-grow: 1;
  margin-right: 10px;
        }

  a {
     display: inline-block;
     padding: 10px 20px;
 text-decoration: none;
   background-color: #007bff;
   color: #fff;
   border: 2px solid #007bff;
    border-radius: 5px;
        }

  a:hover {
      background-color: #0056b3;
     border-color: #0056b3;
        }



form {
  color: #22668D
    background-color: #ECF8F9;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

legend {
  color: #22668D
    font-weight: bold;
}

label {
  color: #22668D
    display: block;
    margin-bottom: 5px;
}
h2 {
    text-align: center;
    color: #11009E;
    padding: 10px;
    display: inline-block;
    background-color: #00C4FF;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; }

textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #0F2C59;
    border-radius: 5px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #F2F7A1;
    color: #22668D;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #CAEDFF;
}

 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            background-color: #007bff;
            color: white;
            padding: 10px;
            text-align: center;
        }

        #profile-picture {
            display: block;
            margin: 20px auto;
            max-width: 200px;
            border-radius: 50%;
        }

        p {
            font-size: 18px;
            margin: 10px;
        }

        #username {
            font-weight: bold;
        }