<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>

<div class="container">
    <h1>Welcome, <span th:text="${username}"></span></h1>

    <a href="/logout">Back to home</a>
    <img src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="Default Profile Picture" class="profile-image">
    <div class="profile-info">
        <p>Username: <span id="username" th:text="${username}"></span></p>
        <p>First Name: <span id="firstName" th:text="${firstName}"></span></p>
        <p>Last Name: <span id="lastName" th:text="${lastName}"></span></p>
        <p>Date of Birth: <span id="dateOfBirth" th:text="${dateOfBirth}"></span></p>
        <p>Bio: <span id="bio" th:text="${bio}"></span></p>
    </div>

    <a th:href="@{/posts}">All Posts</a>

    <form action="/addPost" method="POST" class="post-form">
        <fieldset>
            <legend>Add Post</legend>
            <textarea id="text" name="text" required></textarea>
            <input type="submit" value="Add New Post">
        </fieldset>
    </form>

    <ul class="post-list">
        <li th:each="post : ${userPosts}">
            <h2 th:text="${post.id}"></h2>
            <p th:text="${post.body}"></p>
        </li>
    </ul>
</div>


</body>
</html>
