<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>signup page</title>
  <link rel="stylesheet" href="styling.css">
</head>
<body>

<h1>signup page</h1>

<fieldset>
  <legend>sign UP </legend>
  <form action="/signup" method="POST">
    <label for="username">username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <input type="submit" value="Sign Up">
  </form>
</fieldset>
</body>
</html>